*{
    padding: 0;
    margin:0 ;
}

#menu{
    list-style: none;
    background: #fcf3f0;
    float: left;
    font-family: monospace;
    width:100%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.list {
    float: left;
    font-weight: bold;
    list-style: none;
    text-align: justify;
}

.list a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #da8181;
    font-size: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 7px;
    margin-right: 120px;
}

.list a:hover {
    background-color:#ffe8e0;
    color: #da8181;
}

#logo{
    list-style: none;
    text-align: justify;
    position: absolute;
    margin-left: 40px ;
    margin-top: -5px;
}

#login {
    margin-right: 130px;
    margin-top: -2px;
}

#carrinho {
    position: absolute;
    margin-left: 620px;
    margin-top: -20px;
}

#busca{
    margin-top: -2px; 
    text-align: center;
}

  
