/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff5d6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #bfd595;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    color: #42571e;
    margin-bottom: 10px;
}

.highlight {
    color: #6c8146 ;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: #a4b5bf;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #a4b5bf;
    color: white;
}

main {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
}

.products h2 {
    font-size: 28px;
    color: #95ab6d;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.product-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0;
    color: #8ec1df;
    font-size: 22px;
}

.product-card p {
    color: #888;
    font-size: 18px;
}

.product-card button {
    background-color: #8ec1df;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.product-card button:hover {
    background-color: #8ec1df;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

footer {
    background-color: #d1cf87;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #d1cf87;
    margin-top: auto;
}
